@media only screen and (max-width : 1200px) {
}

@media only screen and (max-width : 1025px) {
	/* Hero */
	#hero { background-attachment: fixed; }
}

@media only screen and (max-width : 992px) {
	/* Layout */
	#main { margin-top: 30px; }

	/* Header */
	#header .logo { font-size: 28px; }

	/* Mobile Navigation */
	.mobile-nav-toggle { display: block; }
	.navbar ul { display: none; }

	/* Hero */
	#hero:before { content: ""; background: rgba(0, 0, 0, 0.5); position: absolute; bottom: -30px; top: 0; left: 0; right: 0; }
	#hero h1 { font-size: 28px; line-height: 36px; }
	#hero h2 { font-size: 18px; line-height: 24px; }
}

@media only screen and (max-width : 576px) {
}

@media only screen and (max-width : 480px) {
}
